.page-item.active .page-link {
    z-index: 0;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    input {
        margin: 2px !important;
        width: 18px;
        height: 18px;
    }
    label {
        margin-left: 2em;
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}